/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.container .text-muted {
  margin: 15px 0;
}

.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
}

code {
  font-size: 80%;
}

.jumbotron > .container {
	padding-top: 20px;
}