/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 10px;
  padding-top: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
	padding-top: 10px;
	padding-bottom: 10px;
  
}
.container .text-muted {
	margin: 20px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
}

code {
	font-size: 80%;
}

.jumbotron {
	padding-top: 0px !important;
}

.back-button {
	margin-top: 23px;
}

#ad-form {
	margin-top: 10px;
}

#make-offer-form {
	margin-top: 10px;
}

#offer-response-form {
	margin-top: 10px;
}

.label-20 {
	font-size: 20px;
}

.description-box {
    resize: none;
}

.market-link, .market-link:visited, .market-link:active {
	text-decoration: none;
	color: black;
}	

.market-link:hover {
	text-decoration: none;
	color: #373737;
}

button a, button a:visited, button a:hover, button a:active {
	text-decoration: none;
	color: inherit;
}

#category_list {
	font-size: 1.1rem;
}

#subcategory_list {
	font-size: 1.1rem;
}

#market-menu {

}

#market-menu {
	font-size: 1.2rem;
}

.wide-button {
	width: 100%;
}
@media (max-width: 599px) {

}
@media (min-width: 600px) and (max-width: 699px) {

}
@media (min-width: 700px) and (max-width: 800px) {

}