.navbar, .navbar-default, navbar-fixed-top {
	background-color: rgba(61, 58, 58, 0.94);
}

.navbar-default .navbar-nav > li > a {
	color: rgba(206, 206, 206, 0.93);
}

.navbar-default .navbar-brand {
	color: #ded94f;
}

.navbar-default .navbar-nav > .active > a {
	background-color: #eee;
}